DATABASE_URL="postgresql://shaurya:change-me@localhost:5432/shaurya?schema=public"
REDIS_URL="redis://localhost:6379"
JWT_ACCESS_SECRET="replace-with-a-32-plus-character-secret"
JWT_REFRESH_SECRET="replace-with-a-different-32-plus-character-secret"
PORT=3000
